{% extends 'main/layoute.html' %}

{% block title %}
    <title>Главная страница</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Добро пожаловать!</h1>
        <h3>Добро пожаловать на наш первый сайт!</h3>
        <h5>Этот проект создан с использованием Django — мощного веб-фреймворка на Python.
        Он показывает, как легко и просто можно создавать динамичные веб-приложения.
        На сайте вы найдёте несколько страниц, оформленных с помощью HTML и CSS.</h5>
        <h5>Мы использовали шаблоны Django, чтобы сделать структуру страниц удобной и гибкой.</h5>
        <br>
        <p>Маршруты позволяют быстро переключаться между разными разделами.</p>
        <p>В этом проекте есть и главная страница, и дополнительные — такие как "Data" и "Test". </p>
        <p>Каждая из них демонстрирует разные подходы к отображению информации.</p>
        <p>Картинки, стили и Bootstrap помогают сделать интерфейс приятным.</p>
        <p>Код организован по всем правилам Django: с приложениями, представлениями и шаблонами.</p>
        <p>Это идеальная база для будущих, более сложных проектов.</p>
        <p>Вы можете использовать этот шаблон, чтобы начать собственный сайт.</p>
        <p>Попробуйте изменить текст, стили или добавить новые страницы!</p>
        <p>Изучайте структуру проекта и экспериментируйте с кодом.</p>
        <h5>Спасибо, что заглянули — удачи в обучении Django!.</h5>
        <p>
            <a href="/data/">Перейти на страницу Data</a> |
            <a href="/data/test/">Перейти на страницу Test</a>
        </p>
    </div>
{% endblock %}