<div class="text-center py-3">
    <a href="/" class="btn btn-outline-primary mx-2">Главная</a>
    <a href="/data/" class="btn btn-outline-secondary mx-2">Data</a>
    <a href="/data/test/" class="btn btn-outline-success mx-2">Test</a>
    <a href="/news/" class="btn btn-outline-info mx-2">Новостная страница</a>
    <a href="/page1/" class="btn btn-outline-dark mx-2">Страница 1</a>
    <a href="/page2/" class="btn btn-outline-dark mx-2">Страница 2</a>
    <a href="/page3/" class="btn btn-outline-dark mx-2">Страница 3</a>
    <a href="/page4/" class="btn btn-outline-dark mx-2">Страница 4</a>
</div>